# Site Information
site_name: Gary Innerarity
site_description: Gary Innerarity (OSPF2FULLSTACK).
site_author: Gary Innerarity
site_url: https://garyinnerarity.com

# Configuration
docs_dir: docs

theme:
  name: material
  palette: 
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: blue
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
  logo: ../assets/img/gary.jpg
  favicon: ../assets/img/gary.jpg
  icon:
    repo: fontawesome/brands/github-alt
    admonition:
      <type>: material/sticker-alert
  language: en
  font: false
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tracking
    - navigation.expand
    - navigation.path
    - navigation.prune
    - navigation.top
    - toc.follow
    - toc.integrate
    - search.highlight
    - search.suggest
    - search.share
  

# Plugins
plugins: 
  - search:
      lang: en
  - minify:
      minify_html: true


# Extensions
markdown_extensions: 
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - footnotes

extra:
  homepage: https://garyinnerarity.com # this is default behavior for clicking logo
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  cookies:
    analytics:
      provider: google
      property: G-356552642
    github: github

# Navigation
nav:
  - Home: index.md
  - Challenges:
    - 100 Days:
      - "100_days/100days_devops.md"
    - Cloud Resume Challege:
      - "cloud_resume/cloud_resume_challenge.md"
  - DevOps Tools:
    - "devops/devops_tools.md"
    - "gitlab/gitlab.md"
  - AWS: 
    - "aws/AWS-IoT.md"
  - Hardware:
    - "hardware/compute_blade/compute_blade.md"
    - "hardware/raspberry_pi/raspberry_pi.md"
    - "hardware/sparkfun/micromod.md"
  - Notion:
    - "notion/notion-ai.md"
  - Terraform:
    - "terraform/main(tf).md"


