@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
body {
  font-family: "Georgia";
  background: #cccfd2;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#particles-js, #parallax, .layer, .some-space, .some-more-space {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#particles-js {
  opacity: .75;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.2em;
  position: static;
  top: auto;
  left: auto;
  margin-bottom: 20px;
}

p {
  color: rgb(9, 9, 9);
  font-size: .75em;
  font-weight: 100;
  letter-spacing: 0.2em;
  position: static;
  top: auto;
  left: auto;
  margin: 10px 0 20px 0;
}

a {
  color: rgb(0, 0, 0);
  /* border: none; */
  display: table;
  position: static;
  top: auto;
  left: auto;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: all 200ms ease;
  padding: 10px 15px;
  background-color: #cccfd2;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #aaa, -6px -6px 12px #fff;
  margin-top: 5px;
  margin-bottom: 25px;
}

.neumorphic-container {
    background-color: #cccfd2; /* Match the background color */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #aaa, -10px -10px 20px #fff; /* Neumorphic shadows */
    position: relative;
    z-index: 2; /* Ensure it's above the particles */
    max-width: 600px; /* Adjust as needed */
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* To center the text within the elements */
}
.neumorphic-container:hover {
  background-color: #efefef; /* Slightly darker background on hover */
}

.some-space {
  /* animation: rotate 18s 0.5s infinite linear reverse; */
  box-shadow: inset 4px 4px 8px #aaa, inset -4px -4px 8px #c4bdbd; /* Inset shadows for pressed effect */

}

.some-more-space {
  -webkit-animation: rotate 15s 0.1s infinite linear;
          animation: rotate 15s 0.1s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
  }
}